/*!
  * Luan update
 */

header {
    text-align: center;
    color: #fff;
    display: block;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    heigh: auto;
    margin: 0;
    padding: 0;
    border: none;
    background-image: url('/img/portfolio/banner.jpg')
}
