/*!
  * Luan update
 */

header {
    text-align: center;
    color: #fff;
    max-width: 100%;
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 38.54%; 
    background-image: url('/img/portfolio/banner.jpg')
}
